<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.flab.fbayshop.user.mapper.UserMapper">

    <select id="isExistsEmail" resultType="boolean">
        SELECT EXISTS
            (SELECT email FROM user WHERE email = #{email} FOR UPDATE)
    </select>

    <insert id="insertUser" parameterType="com.flab.fbayshop.user.model.User"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (email, password, nickname, name, created_at, updated_at)
            VALUES (#{email}, #{password}, #{nickname}, #{name}, NOW(), NOW())
    </insert>

    <select id="findByEmail" parameterType="String" resultType="com.flab.fbayshop.user.model.User">
        SELECT
              id AS user_id
            , email
            , password
            , nickname
            , name
            , created_at
            , updated_at
        FROM user
        WHERE email = #{email}
    </select>

    <select id="findById" parameterType="Long" resultType="com.flab.fbayshop.user.model.User">
        SELECT
              id AS user_id
            , email
            , password
            , nickname
            , name
            , created_at
            , updated_at
        FROM user
        WHERE id = #{userId}
    </select>

    <update id="updateUser" parameterType="com.flab.fbayshop.user.model.User">
        UPDATE user
        SET nickname = #{nickname}
          , name     = #{name}
          , updated_at = NOW()
        WHERE id = #{userId}
        AND updated_at = #{updatedAt}
    </update>

    <delete id="deleteByEmail" parameterType="String">
        DELETE
        FROM user
        WHERE email = #{email}
    </delete>

    <select id="findAddressById" parameterType="Long" resultType="com.flab.fbayshop.user.model.Address">
        SELECT
              id AS address_id
            , user_id
            , road_address
            , jibun_address
            , address_detail
            , zone_code
            , receiver_name
            , receiver_contact
            , created_at
            , updated_at
        FROM address
        WHERE id = #{addressId}
    </select>

    <select id="selectAddressList" parameterType="Long" resultType="com.flab.fbayshop.user.model.Address">
        SELECT
              id AS address_id
            , user_id
            , road_address
            , jibun_address
            , address_detail
            , zone_code
            , receiver_name
            , receiver_contact
            , created_at
            , updated_at
        FROM address
        WHERE user_id = #{userId}
    </select>

    <insert id="insertAddress" parameterType="com.flab.fbayshop.user.model.Address"
            useGeneratedKeys="true" keyProperty="addressId">
        INSERT INTO address (user_id, road_address, jibun_address, address_detail, zone_code, receiver_name, receiver_contact, created_at, updated_at)
        VALUES (#{userId}, #{roadAddress}, #{jibunAddress}, #{addressDetail}, #{zoneCode}, #{receiverName}, #{receiverContact}, NOW(), NOW())
    </insert>

</mapper>